.producto-container {
    padding: 2rem;
}

.producto-container h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.producto-container .busqueda {
    margin-bottom: 1rem;
}

.producto-container input {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}


.producto-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.producto-container th,
.producto-container td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.producto-container thead {
    background-color: #f3f4f6;
}


.boton {
    background-color: white;
    border: 2px solid #ccc;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    color: #1f1f1f;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 100;
}

.boton:hover {
    background-color: #e3b505;
    color: white;
    border-color: #c49c04;
}

.boton-flotante-compras {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 150px;
}


.boton-flotante-txt:hover {
    background-color: #e3b505;
    color: white;
    border-color: #c49c04;
}

.boton-flotante-txt {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: white;
    border: 2px solid #ccc;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    color: #1f1f1f;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 100;
}

.boton-flotante-txt:hover {
    background-color: #e3b505;
    color: white;
    border-color: #c49c04;
}